table{
  width: 600px;
  height: 600px;
  margin: 0 auto;
  border-spacing: 0px;
  border: 0px;
}
td{
  background-color: brown;
  padding: 0px;
}
.red{
  background: url('/static/image/red.png');
  background-size: 100%;
}
.black{
  background: url('/static/image/black.png');
  background-size: 100%;
}
.white{
  background: url('/static/image/white.png');
  background-size: 100%;
}
.blue{
  background: url('/static/image/blue.png');
  background-size: 100%;
}
.yellow{
  background: url('/static/image/yellow.png');
  background-size: 100%;
}
.green{
  background: url('/static/image/green.png');
  background-size: 100%;
}
.selected{
  opacity: 0.5;
}
.glass{
  background: url('/static/image/glass.jpg');
  background-size: 100%;
}
.rock{
  background: url('/static/image/rock.png');
  background-size: 100%;
}
.wood{
  background: url('/static/image/wood.png');
  background-size: 100%;
}
.rocket{
  background: url('/static/image/rocket_up.png');
  background-size: 100%;
}
.bomb{
  background: url('/static/image/bomb.jpg');
  background-size: 100%;
}
.laser{
  background-color: black;
}
