<!DOCTYPE HTML>
<html>
<head>
    <title>Sadjad-AI</title>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/main.js') }}"></script>
    <link rel='stylesheet' href="{{ url_for('static', filename = 'css/board.css') }}"/>
</head>
<body>
  <div id="board"></div>
</body>
</html>
